/* 채팅방 리스트 */
.room-list-wrapper{
    margin-top: 55px;
    overflow: hidden;
}
.room-list-title{
    font-size: 15pt;
    font-weight: 600;
    margin: 15px 15px 0px 15px;
    background-color: #384d9d12;
    padding: 3px 0px 5px 15px;
    border-radius: 20rem;
}
.room-list-container{
    overflow-y: auto;
    max-height: 83vh;
}
.room-list-room{
    padding: 15px;
    display: flex;
    height: 90px;
}
.room-list-room:hover{
    background-color: #abcee21a;
}
.room-list-profile-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}
.room-list-partner-name{
    color: #000;
    padding-top: 20px;
}
.room-list-notification{
    position: relative;
    display: block;
    background-color: #384d9d;
    color: #fff;
    transform: translate(45px, -55px);
    font-size: 9pt;
    text-align: center;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.6;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #c3c3c3;
}
.new-chat-btn{
    float: right;
    margin-right: 15px;
}
.room-list-empty-room{
    position: absolute;
    background: #5677f4;
    color: #fff;
    padding: 13px;
    border-radius: 20rem;
    top: 135px;
    right: 15px;
    font-size: 11pt;
    box-shadow: 2px 2px 3px #d1d1d1;
    z-index: -1;
}
.room-list-empty-room:after{
    bottom: 100%;
    transform: translate(-1px, 3px);
    left: 251px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(56, 77, 157, 0);
    border-bottom-color: #5677f4;
    border-width: 11px;
    margin-left: -20px;
}
/* 채팅방 */
.chat-wrap{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.chat-header-wrapper{
    width: 100%;
    height: 90px;
    background: rgb(255,255,255);
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.53) 50%, rgba(206, 214, 245, 0.2) 100%);
    /* position: fixed; */
    z-index: 10000;
    border-bottom: 1px solid #abcee242;
}
.chat-header-content{
    display: flex;
    width: calc(100%/3);
    position: relative;
    height: 100%;
    float: left;
}
.chat-header-back-btn{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.chat-header-leave-btn{
    width: 35px;
    height: 35px;
    /* margin-right: 15px; */
    position: absolute;
    margin-top: 2px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.chat-heder-partner{
    margin: auto;
    text-align: center;
}
.chat-header-partner-profile-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    margin-top: 3px;
    margin: auto;
}
.chat-header-partner-name{
    font-size: 10pt;
    padding: 3px;
}
.chat-msgs {
	width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-height: 81vh;
    padding: 7px;
    /* padding-top: 80px; */
    /* padding-bottom: 40px; */
    overflow-y: auto;
}

.chat-form-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: block;
    border: 1px solid #abcee2;
    border-radius: 20rem;
    /* padding: 3px; */
    margin-bottom: 3px;
}

.chat-form-wrap input{
    width: calc(100% - 90px);
    height: 45px;
    font-family: 'S-CoreDream-4Regular';
    font-size: 12pt;
    padding: 4px 7px 0px 15px;
    border: none;
    margin-left: 7px;
    border-radius: 20rem;
}
.chat-form-wrap button {
    width: 85px;
    height: 43px;
    border-radius: 20rem;
    float: right;
    position: absolute;
    top: 2.5px;
    right: 2.5px;
}
.chat-wrapper-send{
    display: flex;
    text-align: right;
    contain: layout;
    justify-content: flex-end;
}
.chat-wrapper-receive{
    display: flex;
    text-align: left;
    contain: layout;
}
.chat {
    padding: 5px 10px 5px 10px;
    margin: 3px;
    border-radius: 1.2rem;
    clear: both;
    font-family: 'S-CoreDream-4Regular';
    font-size: 12pt;
    /* font-weight: 600; */
    color: #fff;
    max-width: 80%;
    text-align: left;
}
.chat-date{
    font-size: 8pt;
    color: #dcdcdc;
    /* border: 1px solid black; */
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 6px;
}
.send {
    float: right;
    background-color: #abcee2;
}

.receive { 
    float: left;
    background-color: #384d9d;
    /* background-color:#19aad1; */
    /* background-color:#674b7c; */
}

.alertMsg{
    color: #949494;
    clear: both;
    text-align: center;
    margin: 10px auto 10px auto;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: #00000063;
    display: block;
    position: absolute;
    z-index: 10000;
}
.modal-msg-wrapper{
    width: 350px;
    height: 250px;
    background-color: #fff;
    top: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-60%);
    text-align: center;
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
}
.modal-msg-wrapper p{
    font-size: 11pt;
    font-weight: 600;
    margin-bottom: 15px;
    color: #4a4d58;
}
.modal-btn-area{
    margin-top: 25px;
}
.modal-btn{
    width: 90px;
    height: 42px;
    border-radius: 20rem;
}
.yes{
    background-color: #167ad9;
}
.cancle{
    background-color: #a5b1be;
}

/* Loading */
.loading-quit-btn{
    display: block;
    width: 120px;
    height: 40px;
    background-color: #384d9d;
    color: #fff;
    border-radius: 20rem;
    margin: auto;
    padding: 7px;
    line-height: 1.5;
}
.loading-contents-wrapper{
    margin-top: 280px;
    display: block;
    text-align: center;
}
.loading-contents-wrapper p{
    font-size: 12pt;
    font-weight: 600;
    color: #949494;
    margin-bottom: 20px;
}
.spinner {
    margin: 100px auto 20px;
    width: 150px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #384d9d;
    margin: 5px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
