.header-wrapper{
    background-color: #384d9d;
    color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
}
.header-logo{
    font-family: 'yg-jalnan';
    font-size: 18pt;
    padding: 20px 20px 20px 10px;
}
.header-user-area{
    position: absolute;
    right: 10px;
    padding-top: 12px;
}
.header-user-name{
    font-size: 13pt;
    font-weight: 600;
    margin-right: 7px;
    vertical-align: middle;
}

.header-profile-img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.header-menu-btn{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.drop-down-wrapper{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    display: block;
    background-color: #fff;
    color: #000;
}
.drop-down-contents{
    display: block;
    padding: 10px 7px 7px 15px;
    height: 45px;
    cursor: pointer;
    font-weight: 600;
}
.drop-down-contents:hover{
    background-color: #efefef;
}