
/* Sign In */
.login-wrapper{
    margin: auto;
    padding-top: 120px;
    width: 420px;
    text-align: center;
}
.login-wrapper span{
    color: #000;
    font-size: 10pt;
}
.login-contents{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 350px;
    height: 50px;
    border-radius: 20rem;
}
.login-contents-logo{
    font-family: 'yg-jalnan';
    font-size: 22pt;
    padding: 15px;
}
.login-contents-alert{
    font-size: 10pt;
    padding: 5px;
    color: #e54b4b;
    font-weight: 600;
}
.__input{
    font-size: 12pt;
    border: 1px solid #abcee26e;
    padding: 0px 20px 0px 20px;
    box-shadow: 1px 2px 2px 0px #abcee23b;
    caret-color: black;
}
.__btn{
    color: #f6f5f3;
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 7px;
}

/* Sign Up */
.sign-up-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 420px;
}
.sign-up-span{
    font-size: 9pt;
    font-weight: 600;
    margin: 25px 0px 7px 20px;
    display: block;
    color: #384d9d;
}
.sign-up-contents{
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 400px;
    height: 50px;
    border-radius: 20rem;
}
.sign-up-content-title{
    text-align: center;
    font-family: 'yg-jalnan';
    font-size: 22pt;
    padding-bottom: 15px;
}
.sign-up-contents-file-wrapper{
    display: block;
    margin: 0px auto 30px auto;
    width: 400px;
    height: 50px;
    border-radius: 20rem;
    border: 1px solid #abcee26e;
    box-shadow: 1px 2px 2px 0px #abcee23b;
}
#file_upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
    z-index: -1;
    position: absolute;
}
#file_upload + label {
    background-color: #abcee2;
    color: #fff;
    float: right;
    width: 100px;
    text-align: center;
    height: 44.5px;
    line-height: 2.8;
    margin: 2px;
    border-radius: 2rem;
}
.file-name{
    font-size: 12pt;
    width: 250px;
    display: inline-block;
    padding: 8px 0px 0px 0px;
    margin-left: 20px;
    color: #6271aa;
    font-weight: 600;
    border: none;
}
.file-delete-btn{
    background-color: #fff;
    color: #e47d7d;
    border: none;
    font-size: 25pt;
    vertical-align: top;
}
.file-preview{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    margin: 20px auto 50px auto;
}

#file_upload:focus + label,
#file_upload + label:hover {
    cursor: pointer;
}

.sign-up-alert{
    font-size: 11pt;
    text-align: center;
    
    margin-top: -7px;
    font-weight: 600;
}
.true{
    color: #eb7f55;
}
.false{
    color: #7ca2e7;
}

/* 프로필 수정 모달 */
.modal-content-wrapper{
    width: 380px;
    height: 500px;
    background-color: #fff;
    top: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    text-align: center;
    padding: 30px 0px 30px 0px;
    border-radius: 5px;
}
.modal-close-btn{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal-content-title{
    font-size: 17pt;
    font-weight: 600;
    margin-bottom: 20px;
}
.file-preview_edit{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px #cacaca;
}
#file_upload_edit {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
    z-index: -1;
    position: absolute;
}
#file_upload_edit + label {
    margin: auto;
    display: block;
    cursor: pointer;
    position: absolute;
    transform: translate(240px, -40px);
}
.modal-content-wrapper input {
    margin-bottom: 12px;
    border-radius: 20rem;
    border: 1px solid #bfbfbf;
    text-align: center;
    margin-top: 30px;
    font-size: 12pt;
    width: 230px;
}
.edit-profile-submit-btn{
    display: block;
    margin: 20px auto 0px auto;
    width: 230px;
    height: 45px;
    border-radius: 20rem;
    font-size: 12pt;
}